@model LogInModel
@using (Html.BeginForm())
{
    <p>What is your username?</p>
    <input type="text" name="UN" />
    <p>What is your password?</p>
    <input type="text" name="PW" />
    <input type="submit" value="Submit" />
}


