@model ReportProblemModel
@using (Html.BeginForm())
{
    <p>What are the coordinates?</p>
    <input type="text" name="PL" />
    <p>What is the problem type?</p>
    <input type="text" name="PT" />
    <input type="submit" value="Submit" />
}